{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "react",
    "compat"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "jasmine": true
  },
  "rules": {
    "compat/compat": 2,
    "strict": 0,
    "newline-before-return": 1,
    "react/prefer-stateless-function": "warn",
    "import/no-unresolved": "warn",
    "func-names": [
      "warn"
    ],
    "max-len": [
      "error",
      120,
      {
        "comments": 80
      }
    ],
    "no-underscore-dangle": [
      "warn"
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  },
  "globals": {
  },
  "settings": {
    "import/ignore": ["node_modules", ".scss$"]
  }
}
